@use './utils.scss' as *;

.mincho gothic-demibold {
  font-family: 'Hiragino Mincho ProN', serif;
  font-weight: 600;
  font-style: normal;
}

.zen-maru gothic-regular {
  font-family: 'Hiragino Mincho ProN', serif;
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
  color: #080808;
}

a:active {
  text-decoration: none;
  color: #080808;
  outline: solid;
}

a:visited {
  text-decoration: none;
  color: #080808;
  outline: solid;
}

a:hover {
  text-decoration: none;
  color: #080808;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---------------------------------
select-backgroundcolor
----------------------------------*/
::-moz-selection {
  background: #fff;
  color: #fff;
}
::selection {
  background: #fff;
  color: #fff;
}

::-moz-selection {
  background: #fff;
  color: #fff;
}

/*---------------------------------
画像タグ設定
----------------------------------*/
img {
  width: 100%;
  height: auto;
}

img[src$='.svg'] {
  width: 100%;
  height: auto;
}

/*---------------------------------
html,body
----------------------------------*/
html {
  font-size: 62.5%;
  font-family: 'Hiragino Mincho ProN', '明朝体', 'YuMincho', 'Yu Mincho', serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #ffffff;
  color: #080808;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-weight: bold;
  line-height: inherit;
  letter-spacing: normal;
  font-feature-settings: 'palt';
  position: relative;
  font-family: 'Hiragino Mincho ProN', '明朝体', 'YuMincho', 'Yu Mincho', serif;
  background: #ffffff;
  color: #080808;
  overflow-x: hidden;

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

li {
  list-style: none;
}

/*---------------------------------
フォント設定
----------------------------------*/
h2 {
  font-size: 4rem;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 1.3rem;
  padding: 20px;
  border-left: 1px solid #080808;
  border-right: 1px solid #080808;
  margin: 0;
  line-height: 100%;
  margin-left: auto;

  @include sp {
    font-size: 2.3rem;
    padding: 10px;
  }
}

h3 {
  font-size: 2.2rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴシックProN', serif;
  margin: 0 0 2rem;
  font-weight: 300;
  line-height: 100%;

  @include sp {
    font-size: 2rem;
  }
}

h4 {
  text-align: center;
  margin: 0 auto;
}

.re-font {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴシックProN', serif;

  @include sp {
    font-size: 1.5rem;
  }
}

.resm-font {
  font-size: 1.4rem;
}

.sm-font {
  font-size: 1.2rem;
}

.category {
  font-size: 1.5rem;
}

.title {
  font-size: 1.8rem;
}

button {
  font-family: 'Zen Maru Gothic', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ',
    sans-serif;
}

/*---------------------------------
背景色
----------------------------------*/
.back_color {
  background: #fffdfa;
}

/*---------------------------------
コンテンツ
----------------------------------*/
.toploading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
    width: 14%;
    height: 140px;

    .line {
      position: absolute;
      top: 50%;
      margin-left: 10px;
      width: 60px;
      height: 4px;
      background: #2b2b2b;
      animation: spin 1.5s infinite ease;

      &:nth-of-type(2) {
        animation-delay: 0.1s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.2s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.3s;
      }

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;

  @include sp {
    width: 100%;
    height: 85vh;
  }

  .headerFv {
    z-index: 1;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    top: 80px;
    gap: 33%;

    @include sp {
      display: block;
    }

    h1 {
      writing-mode: vertical-rl;
      text-orientation: upright;
      margin: 0 1%;
      line-height: 100%;
      letter-spacing: 4.3rem;
      font-size: 8rem;
      height: fit-content;

      @include sp {
        margin: auto;
        font-size: 5.5rem;
        letter-spacing: 2.5rem;
      }
    }
  }

  .headerImg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    display: block;
    background: url(../images/headerImg.jpg) no-repeat center/cover;

    @include sp {
      height: auto;
      display: none;
    }

    img {
      display: block;
    }
  }
  .headerImgsp {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    display: none;
    background: url(../images/headerImgsp.jpg) no-repeat center/cover;

    @include sp {
      height: 50vh;
      width: 100vw;
      display: block;
    }

    img {
      display: block;
    }
  }

  .hamOpenBtn {
    position: absolute;
    top: 30px;
    right: 35px;
    border: none;
    background-color: #ffffff;
    display: none;

    @include sp{
      display:block;
    }

    &.close {
      top: 20px;
    }

    .MenuBtn {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      width: 30px;
      transition: all 0.2s ease;

      > span {
        width: 30px;
        height: 1px;
        display: inline-block;
        background-color: #080808;
      }

      &.closeBtn {
        height: 30px;

        > span {
          position: absolute;
          top: 50%;

          &:first-of-type {
            transform: rotate(30deg) translate(0, -50%);
          }
          &:last-of-type {
            transform: rotate(-30deg) translate(0, -50%);
          }
        }
      }
    }
  }

  .hamMenu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    // z-index: 40;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    display: none;

    @include sp{
      display: block;
    }

    &.open {
      opacity: 1;
      visibility: visible;
      z-index: 40;
    }

    .menuCont {
      > ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6rem;

        > li {
          transition: all 0.3s;
          padding: 10px 0;
          writing-mode: vertical-rl;
          text-orientation: upright;
          font-size: 3.5rem;
          letter-spacing: 0.6rem;
          position: relative;
          cursor: pointer;
        }
      }
    }

    .hambackImg {
      background: url(../images/hamMenuspImg.jpg) no-repeat center/cover;
      width: 100vw;
      height: 64vh;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.App {
  display: block;
  width: 100%;
  height: 100vh;
  font-size: 18px;

  a {
    display: block;
  }

  nav {
    height: fit-content;

    @include sp {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4rem;

      @include sp {
        width: 100%;
      }

      li {
        transition: all 0.3s;
        padding: 10px 0;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 3.5rem;
        letter-spacing: 0.6rem;
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          background: url(../images/icon.svg) no-repeat center/cover;
          width: 6rem;
          height: 5rem;
          display: block;
          position: absolute;
          top: -25%;
          left: 1%;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }

        a {
          line-height: 100%;
          padding: 0 10px;
          display: block;
        }
      }
    }
  }
}

main {
  margin: 10rem 10rem 10rem 16rem;
  position: relative;
  max-width: 1280px;

  @include sp {
    margin: 4rem 3rem 4rem 4rem;
  }

  #worksSec {
    .worksList {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0;
      margin-right: 10%;
      justify-items: center;
      max-width: 1100px;

      @include sp {
        display: block;
        margin: 3rem 4.5rem 0 2rem;
      }

      article {
        width: fit-content;

        .thumbnail {
          width: calc(360 / 1280 * 100vw);
          height: calc(280 / 1280 * 100vw);
          margin-bottom: 20%;
          transition: opacity 0.3s ease;
          cursor: pointer;
          position: relative;

          &::before {
            content: '';
            background: url(../images/icon.svg) no-repeat center/cover;
            width: 11rem;
            height: 9rem;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: opacity 0.3s;
            transform: translate(-50%, -50%);
            opacity: 0;
          }

          > p {
            display: none;
          }

          figure {
            margin: 0;
          }

          @include sp {
            width: 100%;
            height: auto;
          }

          img {
            height: 100%;
          }

          &:hover {
            // opacity: 0.6;

            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  #topAbout {
    margin-top: 10rem;
    position: relative;

    @include sp {
      margin-top: 4rem;
    }

    .cont {
      position: relative;

      @include sp {
        margin: 3rem 4.5rem 0 2rem;
      }

      .topAbout-list {
        width: 57%;
        padding: 0;
        margin: 0 13.2%;
        z-index: 1;
        position: relative;

        @include sp {
          width: 100%;
          margin: 0;
        }

        li {
          padding: 20px;
          border-left: 1px solid #080808;
          border-right: 1px solid #080808;
          width: fit-content;
          font-weight: 300;

          p {
            margin: 0;
            letter-spacing: 0.25rem;
            line-height: 3rem;
          }

          .skillList {
            display: flex;

            > span {
              font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴシックProN', serif;
              display: inline-block;
              white-space: nowrap;
              min-width: 80px;

              @include sp {
                font-size: 1.8rem;
                min-width: 70px;
              }
            }

            &.dev {
              margin-bottom: 2rem;
            }
          }
        }

        .jobHis {
          margin-bottom: 7rem;
        }
      }

      .backImg01 {
        width: calc(250 / 1280 * 100vw);
        height: calc(200 / 1280 * 100vw);
        position: absolute;
        top: 3%;
        right: 7%;
        opacity: 0.4;

        @include sp {
          width: calc(155 / 360 * 100vw);
          height: calc(125 / 1280 * 100vw);
          top: 10%;
          left: 58%;
          max-width: 360px;
        }
      }

      .backImg02 {
        width: calc(220 / 1280 * 100vw);
        height: calc(180 / 1280 * 100vw);
        opacity: 0.4;
        bottom: 3%;
        position: absolute;
        left: -7%;

        @include sp {
          width: calc(120 / 360 * 100vw);
          height: calc(100 / 360 * 100vw);
          bottom: 31%;
          bottom: 8%;
          max-width: 200px;
          right: 65%;
          left: -4%;
        }
      }
    }
  }
}

footer {
  #copyright {
    padding-bottom: 1.5%;
    text-align: center;

    @include sp {
      padding-bottom: 5%;
    }

    .copyright {
      font-size: 1.2rem;
      font-weight: bold;

      @include sp {
        font-size: 0.9rem;
      }
    }
  }
}

.worksContent {
  margin-bottom: 16%;

  .contMainImg {
    width: 100%;
    height: auto;

    img {
      height: 100%;
      border: 2px solid;
      border-radius: 3rem;
      overflow: hidden;
    }
  }

  .siteUrlFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 7% auto 2% 0;
    gap: 6.5%;
    width: fit-content;
    padding: 10px 10px 10px 0;

    &::before {
      content: '';
      border-bottom: 2px solid;
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.3s;
    }

    &:hover {
      &::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }

    .siteURL {
      width: fit-content;
      white-space: nowrap;

      p {
        margin: 0;
      }
    }

    .newTabSvg {
      width: 17px;
      min-width: 17px;
      height: 17px;
      fill: currentColor;
      display: block;

      path {
        fill: currentColor;
      }
    }
  }

  .contText {
    margin: 0% auto 16%;

    p {
      font-size: 1.6rem;
      margin: 0.5% 0;
      font-weight: 600;
    }
  }

  // .spFlex {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   gap: 5%;

  //   .spImg {
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     width: 30%;
  //     height: 410px;
  //     border-radius: 30px;
  //     border: 1px solid;
  //   }
  // }
}

.backHome {
  a {
    display: flex;
    align-items: center;
    gap: 3%;
    justify-content: center;
  }

  .backHomeSvg {
    fill: #282626;
    min-width: 40px;
    min-height: 40px;
    width: clamp(40px, calc(50 / 1000 * 100vw), 55px);
    height: clamp(40px, calc(50 / 1000 * 100vw), 55px);

    @include sp {
      min-width: 32px;
      min-height: 32px;
    }
  }

  .backHomeTitle {
    font-size: 2rem;
    position: relative;
    padding-bottom: 3px;
    transition: all 0.2s;
    margin: 0;

    &::before {
      content: '';
      border-bottom: 2px solid;
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.3s;
    }
  }

  &:hover {
    .backHomeTitle {
      &::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }
  }
}

/*---------------------------------
ボタン
----------------------------------*/
.isSubmit {
  margin-bottom: 16%;
  width: 30%;
  height: 50px;
  min-width: 150px;
  border: 1px solid;
  transition: all 0.3s;
  background-color: #ffe9c8;

  @include sp {
    margin-bottom: 30%;
  }

  &:hover {
    opacity: 0.6;
  }
}

.memoAddBtn {
  width: 80px;
  height: 50px;
  border: 1px solid;
  transition: all 0.3s;
  background-color: #ffe9c8;

  &:hover {
    opacity: 0.6;
  }
}

.memoRemoveBtn {
  width: 80px;
  height: 40px;
  border: 1px solid;
  transition: all 0.3s;
  background-color: #ffe9c8;

  &:hover {
    opacity: 0.6;
  }
}

.loading {
  width: fit-content;
  margin: 0 auto 5%;
}
