@charset "UTF-8";
.mincho gothic-demibold {
  font-family: "Hiragino Mincho ProN", serif;
  font-weight: 600;
  font-style: normal;
}

.zen-maru gothic-regular {
  font-family: "Hiragino Mincho ProN", serif;
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
  color: #080808;
}

a:active {
  text-decoration: none;
  color: #080808;
  outline: solid;
}

a:visited {
  text-decoration: none;
  color: #080808;
  outline: solid;
}

a:hover {
  text-decoration: none;
  color: #080808;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---------------------------------
select-backgroundcolor
----------------------------------*/
::-moz-selection {
  background: #fff;
  color: #fff;
}

::selection {
  background: #fff;
  color: #fff;
}

::-moz-selection {
  background: #fff;
  color: #fff;
}

/*---------------------------------
画像タグ設定
----------------------------------*/
img {
  width: 100%;
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
}

/*---------------------------------
html,body
----------------------------------*/
html {
  font-size: 62.5%;
  font-family: "Hiragino Mincho ProN", "明朝体", "YuMincho", "Yu Mincho", serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #ffffff;
  color: #080808;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-weight: bold;
  line-height: inherit;
  letter-spacing: normal;
  font-feature-settings: "palt";
  position: relative;
  font-family: "Hiragino Mincho ProN", "明朝体", "YuMincho", "Yu Mincho", serif;
  background: #ffffff;
  color: #080808;
  overflow-x: hidden;
}

li {
  list-style: none;
}

/*---------------------------------
フォント設定
----------------------------------*/
h2 {
  font-size: 4rem;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 1.3rem;
  padding: 20px;
  border-left: 1px solid #080808;
  border-right: 1px solid #080808;
  margin: 0;
  line-height: 100%;
  margin-left: auto;
}
@media screen and (max-width: 860px) {
  h2 {
    font-size: 2.3rem;
    padding: 10px;
  }
}

h3 {
  font-size: 2.2rem;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシックProN", serif;
  margin: 0 0 2rem;
  font-weight: 300;
  line-height: 100%;
}
@media screen and (max-width: 860px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  text-align: center;
  margin: 0 auto;
}

.re-font {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシックProN", serif;
}
@media screen and (max-width: 860px) {
  .re-font {
    font-size: 1.5rem;
  }
}

.resm-font {
  font-size: 1.4rem;
}

.sm-font {
  font-size: 1.2rem;
}

.category {
  font-size: 1.5rem;
}

.title {
  font-size: 1.8rem;
}

button {
  font-family: "Zen Maru Gothic", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

/*---------------------------------
背景色
----------------------------------*/
.back_color {
  background: #fffdfa;
}

/*---------------------------------
コンテンツ
----------------------------------*/
.toploading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toploading .loader {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  width: 14%;
  height: 140px;
}
.toploading .loader .line {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  width: 60px;
  height: 4px;
  background: #2b2b2b;
  animation: spin 1.5s infinite ease;
}
.toploading .loader .line:nth-of-type(2) {
  animation-delay: 0.1s;
}
.toploading .loader .line:nth-of-type(3) {
  animation-delay: 0.2s;
}
.toploading .loader .line:nth-of-type(4) {
  animation-delay: 0.3s;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 860px) {
  header {
    width: 100%;
    height: 85vh;
  }
}
header .headerFv {
  z-index: 1;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  top: 80px;
  gap: 33%;
}
@media screen and (max-width: 860px) {
  header .headerFv {
    display: block;
  }
}
header .headerFv h1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0 1%;
  line-height: 100%;
  letter-spacing: 4.3rem;
  font-size: 8rem;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 860px) {
  header .headerFv h1 {
    margin: auto;
    font-size: 5.5rem;
    letter-spacing: 2.5rem;
  }
}
header .headerImg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  display: block;
}
@media screen and (max-width: 860px) {
  header .headerImg {
    height: auto;
    display: none;
  }
}
header .headerImg img {
  display: block;
}
header .headerImgsp {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  display: none;
}
@media screen and (max-width: 860px) {
  header .headerImgsp {
    height: auto;
    display: block;
  }
}
header .headerImgsp img {
  display: block;
}

.App {
  display: block;
  width: 100%;
  height: 100vh;
  font-size: 18px;
}
.App a {
  display: block;
}
.App nav {
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 860px) {
  .App nav {
    display: none;
  }
}
.App nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 860px) {
  .App nav ul {
    width: 100%;
  }
}
.App nav ul li {
  transition: all 0.3s;
  padding: 10px 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 3.5rem;
  letter-spacing: 0.6rem;
}
.App nav ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}
.App nav ul li a {
  line-height: 100%;
  padding: 0 10px;
  display: block;
}

main {
  margin: 10rem 10rem 10rem 16rem;
  position: relative;
  max-width: 1280px;
}
@media screen and (max-width: 860px) {
  main {
    margin: 4rem 3rem 4rem 4rem;
  }
}
main #worksSec .worksList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
  margin-right: 10%;
  justify-items: center;
  max-width: 1100px;
}
@media screen and (max-width: 860px) {
  main #worksSec .worksList {
    display: block;
    margin: 3rem 4.5rem 0 2rem;
  }
}
main #worksSec .worksList article {
  width: -moz-fit-content;
  width: fit-content;
}
main #worksSec .worksList article .thumbnail {
  width: 28.125vw;
  height: 21.875vw;
  margin-bottom: 20%;
  transition: opacity 0.3s ease;
}
main #worksSec .worksList article .thumbnail > p {
  display: none;
}
main #worksSec .worksList article .thumbnail figure {
  margin: 0;
}
@media screen and (max-width: 860px) {
  main #worksSec .worksList article .thumbnail {
    width: 100%;
    height: auto;
  }
}
main #worksSec .worksList article .thumbnail img {
  height: 100%;
}
main #worksSec .worksList article .thumbnail:hover {
  opacity: 0.6;
}
main #topAbout {
  margin-top: 10rem;
  position: relative;
}
@media screen and (max-width: 860px) {
  main #topAbout {
    margin-top: 4rem;
  }
}
main #topAbout .cont {
  position: relative;
}
@media screen and (max-width: 860px) {
  main #topAbout .cont {
    margin: 3rem 4.5rem 0 2rem;
  }
}
main #topAbout .cont .topAbout-list {
  width: 57%;
  padding: 0;
  margin: 0 13.2%;
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 860px) {
  main #topAbout .cont .topAbout-list {
    width: 100%;
    margin: 0;
  }
}
main #topAbout .cont .topAbout-list li {
  padding: 20px;
  border-left: 1px solid #080808;
  border-right: 1px solid #080808;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 300;
}
main #topAbout .cont .topAbout-list li p {
  margin: 0;
  letter-spacing: 0.25rem;
  line-height: 3rem;
}
main #topAbout .cont .topAbout-list li .skillList {
  display: flex;
}
main #topAbout .cont .topAbout-list li .skillList > span {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシックProN", serif;
  display: inline-block;
  white-space: nowrap;
  min-width: 80px;
}
@media screen and (max-width: 860px) {
  main #topAbout .cont .topAbout-list li .skillList > span {
    font-size: 1.8rem;
    min-width: 70px;
  }
}
main #topAbout .cont .topAbout-list li .skillList.dev {
  margin-bottom: 2rem;
}
main #topAbout .cont .topAbout-list .jobHis {
  margin-bottom: 7rem;
}
main #topAbout .cont .backImg01 {
  width: 19.53125vw;
  height: 15.625vw;
  position: absolute;
  top: 3%;
  right: 7%;
  opacity: 0.4;
}
@media screen and (max-width: 860px) {
  main #topAbout .cont .backImg01 {
    width: 43.0555555556vw;
    height: 9.765625vw;
    top: 10%;
    right: -25%;
  }
}
main #topAbout .cont .backImg02 {
  width: 17.1875vw;
  height: 14.0625vw;
  opacity: 0.4;
  bottom: 3%;
  position: absolute;
  left: -7%;
}
@media screen and (max-width: 860px) {
  main #topAbout .cont .backImg02 {
    width: 33.3333333333vw;
    height: 27.7777777778vw;
    bottom: 31%;
    left: -20%;
  }
}

footer #copyright {
  padding-bottom: 1.5%;
  text-align: center;
}
@media screen and (max-width: 860px) {
  footer #copyright {
    padding-bottom: 5%;
  }
}
footer #copyright .copyright {
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 860px) {
  footer #copyright .copyright {
    font-size: 0.9rem;
  }
}

.worksContent {
  margin-bottom: 16%;
}
.worksContent .contMainImg {
  width: 100%;
  height: auto;
}
.worksContent .contMainImg img {
  height: 100%;
  border: 2px solid;
  border-radius: 3rem;
  overflow: hidden;
}
.worksContent .siteUrlFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 7% auto 2% 0;
  gap: 6.5%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 10px 10px 0;
}
.worksContent .siteUrlFlex::before {
  content: "";
  border-bottom: 2px solid;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.worksContent .siteUrlFlex:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.worksContent .siteUrlFlex .siteURL {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
.worksContent .siteUrlFlex .siteURL p {
  margin: 0;
}
.worksContent .siteUrlFlex .newTabSvg {
  width: 17px;
  min-width: 17px;
  height: 17px;
  fill: currentColor;
  display: block;
}
.worksContent .siteUrlFlex .newTabSvg path {
  fill: currentColor;
}
.worksContent .contText {
  margin: 0% auto 16%;
}
.worksContent .contText p {
  font-size: 1.6rem;
  margin: 0.5% 0;
  font-weight: 600;
}

.backHome a {
  display: flex;
  align-items: center;
  gap: 3%;
  justify-content: center;
}
.backHome .backHomeSvg {
  fill: #282626;
  min-width: 40px;
  min-height: 40px;
  width: clamp(40px, 5vw, 55px);
  height: clamp(40px, 5vw, 55px);
}
@media screen and (max-width: 860px) {
  .backHome .backHomeSvg {
    min-width: 32px;
    min-height: 32px;
  }
}
.backHome .backHomeTitle {
  font-size: 2rem;
  position: relative;
  padding-bottom: 3px;
  transition: all 0.2s;
  margin: 0;
}
.backHome .backHomeTitle::before {
  content: "";
  border-bottom: 2px solid;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.backHome:hover .backHomeTitle::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

/*---------------------------------
ボタン
----------------------------------*/
.isSubmit {
  margin-bottom: 16%;
  width: 30%;
  height: 50px;
  min-width: 150px;
  border: 1px solid;
  transition: all 0.3s;
  background-color: #ffe9c8;
}
@media screen and (max-width: 860px) {
  .isSubmit {
    margin-bottom: 30%;
  }
}
.isSubmit:hover {
  opacity: 0.6;
}

.memoAddBtn {
  width: 80px;
  height: 50px;
  border: 1px solid;
  transition: all 0.3s;
  background-color: #ffe9c8;
}
.memoAddBtn:hover {
  opacity: 0.6;
}

.memoRemoveBtn {
  width: 80px;
  height: 40px;
  border: 1px solid;
  transition: all 0.3s;
  background-color: #ffe9c8;
}
.memoRemoveBtn:hover {
  opacity: 0.6;
}

.loading {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 5%;
}/*# sourceMappingURL=style.css.map */